* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

ul,
li {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

button {
  border: none;
  cursor: pointer;
}

body {
  background: map-get($theme, "background");
  color: map-get($theme, "text");
  font:
    400 16px "Noto Sans",
    sans-serif;
}

html {
  font-size: 16px;

  @media (max-width: 1600px) {
    font-size: 14px;
  }

  @media (max-width: 560px) {
    font-size: 16px;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 4.6875rem;

  @media (max-width: 1600px) {
    padding: 0 3rem;
  }

  @media (max-width: 1366px) {
    padding: 0 2rem;
  }

  @media (max-width: 560px) {
    padding: 0 1rem;
  }
}

.container {
  width: 100%;
  max-width: 1251px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: 560px) {
    padding: 0 1rem;
  }
}

.f7-icon {
  i {
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

.icon-facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0H6.54545C5.46048 0 4.41994 0.421427 3.65274 1.17157C2.88555 1.92172 2.45455 2.93913 2.45455 4V6.4H0V9.6H2.45455V16H5.72727V9.6H8.18182L9 6.4H5.72727V4C5.72727 3.78783 5.81347 3.58434 5.96691 3.43431C6.12035 3.28429 6.32846 3.2 6.54545 3.2H9V0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: auto 100%;
}

.icon-tiktok {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.30099 0.013C8.17399 0 9.04099 0.007 9.90699 0C9.93391 1.04016 10.3504 2.0323 11.074 2.78C11.8563 3.48273 12.8517 3.9028 13.901 3.973V6.66C12.9334 6.63644 11.9808 6.41631 11.101 6.013C10.7259 5.83388 10.3648 5.62662 10.021 5.393C10.014 7.34 10.028 9.286 10.008 11.226C9.95716 12.1681 9.64557 13.0776 9.10799 13.853C8.66503 14.4936 8.07762 15.0211 7.39319 15.3929C6.70877 15.7646 5.94652 15.9702 5.16799 15.993C4.21351 16.0363 3.26743 15.7973 2.44799 15.306C1.77345 14.9055 1.202 14.3527 0.779351 13.6918C0.356705 13.0309 0.0945941 12.2803 0.0139869 11.5C0.000986927 11.167 -0.00601316 10.833 0.00698684 10.507C0.0750968 9.82341 0.282815 9.16108 0.617279 8.56103C0.951743 7.96097 1.40583 7.43597 1.95142 7.01852C2.49702 6.60108 3.1225 6.30008 3.78914 6.13418C4.45577 5.96827 5.14937 5.94098 5.82699 6.054C5.83999 7.041 5.79999 8.027 5.79999 9.014C5.51554 8.91412 5.21414 8.87146 4.91315 8.88849C4.61215 8.90551 4.31749 8.98188 4.04611 9.1132C3.77474 9.24452 3.53201 9.4282 3.33188 9.65367C3.13175 9.87914 2.97817 10.142 2.87999 10.427C2.77572 10.7745 2.74407 11.1397 2.78699 11.5C2.87382 12.0496 3.15954 12.5481 3.58985 12.9008C4.02017 13.2535 4.56507 13.4358 5.12099 13.413C5.49368 13.4019 5.85771 13.298 6.18006 13.1106C6.50242 12.9232 6.7729 12.6584 6.96699 12.34C7.11554 12.1308 7.20939 11.8877 7.23999 11.633C7.30699 10.44 7.27999 9.253 7.28699 8.06C7.29399 5.373 7.28099 2.693 7.30099 0.013Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: auto 100%;
}

.icon-twitter {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='15' viewBox='0 0 18 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.2307 2.42518C16.5857 2.71092 15.9015 2.89854 15.2008 2.98179C15.9395 2.53982 16.4922 1.84432 16.7559 1.02495C16.0616 1.43656 15.3022 1.72657 14.5103 1.88248C13.9773 1.31562 13.2724 0.940268 12.5045 0.814521C11.7367 0.688773 10.9488 0.819649 10.2629 1.18689C9.57692 1.55412 9.03116 2.13724 8.71008 2.84597C8.389 3.55469 8.3105 4.3495 8.48674 5.10734C7.08088 5.03741 5.70546 4.67249 4.44984 4.03629C3.19422 3.40009 2.0865 2.50684 1.19863 1.41458C0.7466 2.19278 0.608119 3.11399 0.81138 3.9907C1.01464 4.8674 1.54437 5.6337 2.29272 6.13359C1.73112 6.11627 1.18182 5.96478 0.690727 5.69178C0.690727 5.70569 0.690727 5.72135 0.690727 5.73526C0.690917 6.55146 0.973303 7.34248 1.49003 7.97428C2.00675 8.60608 2.72603 9.03979 3.52596 9.2019C3.00531 9.3437 2.45912 9.36452 1.92918 9.26278C2.15539 9.96538 2.59558 10.5797 3.18816 11.0197C3.78074 11.4598 4.49606 11.7036 5.23405 11.7171C3.98195 12.6999 2.43558 13.233 0.843795 13.2304C0.561838 13.2303 0.280134 13.2135 0.000183105 13.1799C1.61676 14.219 3.49846 14.7703 5.42017 14.768C11.9221 14.768 15.4792 9.37584 15.4792 4.70902C15.4792 4.55595 15.4757 4.40346 15.4687 4.25155C16.1599 3.75226 16.7565 3.1338 17.2307 2.42518Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 100% auto;
}

.icon-youtube {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='15' viewBox='0 0 21 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9326 3.78974C19.9326 3.78974 19.7284 2.41771 19.1425 1.8154C18.385 1.02934 17.5336 1.01709 17.1477 0.972176C14.3628 0.768005 10.1875 0.768005 10.1875 0.768005C10.1875 0.768005 6.01018 0.768005 3.22733 0.972176C2.83328 1.01709 1.98189 1.02934 1.22442 1.81336C0.628236 2.42587 0.434274 3.78769 0.434274 3.78769C0.308684 4.85653 0.240529 5.93133 0.230103 7.00747V8.51629C0.240529 9.59243 0.308684 10.6672 0.434274 11.7361C0.434274 11.7361 0.638444 13.1081 1.22442 13.7104C1.98189 14.5046 2.9762 14.4801 3.41925 14.5638C5.01179 14.717 10.1834 14.768 10.1834 14.768C10.1834 14.768 14.3649 14.768 17.1477 14.5638C17.5336 14.5046 18.385 14.5046 19.1425 13.7145C19.7386 13.102 19.9326 11.7402 19.9326 11.7402C20.0581 10.6713 20.1263 9.59651 20.1368 8.52037V7.00951C20.1263 5.93338 20.0581 4.85858 19.9326 3.78974ZM8.12948 10.3477V4.7575L13.5053 7.56281L8.12948 10.3477Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: 100% auto;
}

.icon-instagram {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99801 5.32999C7.47033 5.32999 6.9545 5.48646 6.51575 5.77963C6.077 6.07279 5.73504 6.48948 5.5331 6.97699C5.33117 7.4645 5.27833 8.00095 5.38128 8.51849C5.48422 9.03603 5.73832 9.51143 6.11145 9.88455C6.48458 10.2577 6.95997 10.5118 7.47751 10.6147C7.99505 10.7177 8.5315 10.6648 9.01901 10.4629C9.50652 10.261 9.92321 9.919 10.2164 9.48025C10.5095 9.0415 10.666 8.52567 10.666 7.99799C10.6647 7.29079 10.3832 6.61295 9.88311 6.11288C9.38305 5.61282 8.7052 5.33131 7.99801 5.32999V5.32999ZM15.998 7.99799C15.998 6.89799 16.008 5.79799 15.946 4.69799C15.9773 4.07974 15.8785 3.46181 15.6562 2.88409C15.4338 2.30637 15.0928 1.7817 14.655 1.34397C14.2173 0.906245 13.6926 0.565189 13.1149 0.34282C12.5372 0.120451 11.9193 0.0217128 11.301 0.0529868C10.201 -0.00901321 9.10101 0.000992461 8.00101 0.000992461C6.90101 0.000992461 5.80101 -0.00901321 4.70101 0.0529868C4.08276 0.0217128 3.46483 0.120451 2.88711 0.34282C2.30939 0.565189 1.78473 0.906245 1.347 1.34397C0.909273 1.7817 0.568209 2.30637 0.34584 2.88409C0.123471 3.46181 0.0247405 4.07974 0.0560145 4.69799C-0.00598548 5.79799 0.00401256 6.89799 0.00401256 7.99799C0.00401256 9.09799 -0.00598548 10.198 0.0560145 11.298C0.0247405 11.9162 0.123471 12.5342 0.34584 13.1119C0.568209 13.6896 0.909273 14.2143 1.347 14.652C1.78473 15.0897 2.30939 15.4308 2.88711 15.6532C3.46483 15.8755 4.08276 15.9743 4.70101 15.943C5.80101 16.005 6.90101 15.995 8.00101 15.995C9.10101 15.995 10.201 16.005 11.301 15.943C11.9193 15.9743 12.5372 15.8755 13.1149 15.6532C13.6926 15.4308 14.2173 15.0897 14.655 14.652C15.0928 14.2143 15.4338 13.6896 15.6562 13.1119C15.8785 12.5342 15.9773 11.9162 15.946 11.298C16.011 10.2 15.999 9.10499 15.999 7.99999L15.998 7.99799ZM7.99801 12.098C7.1871 12.098 6.39442 11.8575 5.72018 11.407C5.04593 10.9565 4.52042 10.3162 4.21011 9.56699C3.89979 8.81782 3.81859 7.99344 3.97679 7.19812C4.13499 6.4028 4.52548 5.67225 5.09888 5.09885C5.67227 4.52546 6.40282 4.13497 7.19814 3.97677C7.99346 3.81857 8.81784 3.89976 9.56702 4.21008C10.3162 4.5204 10.9565 5.04591 11.407 5.72015C11.8575 6.3944 12.098 7.18708 12.098 7.99799C12.0989 8.53699 11.9936 9.0709 11.7879 9.56914C11.5823 10.0674 11.2804 10.5202 10.8996 10.9017C10.5188 11.2831 10.0665 11.5857 9.56863 11.7922C9.07074 11.9987 8.53702 12.105 7.99801 12.105V12.098ZM12.271 4.67899C12.0497 4.67862 11.8353 4.60152 11.6644 4.46084C11.4935 4.32015 11.3766 4.12457 11.3337 3.90741C11.2909 3.69025 11.3246 3.46494 11.4292 3.26984C11.5337 3.07475 11.7027 2.92194 11.9073 2.83745C12.1119 2.75295 12.3395 2.742 12.5512 2.80645C12.763 2.8709 12.9459 3.00676 13.0687 3.1909C13.1916 3.37505 13.2468 3.59608 13.2249 3.81636C13.2031 4.03664 13.1056 4.24253 12.949 4.39899C12.8605 4.48922 12.7551 4.56104 12.6387 4.6103C12.5223 4.65956 12.3974 4.68528 12.271 4.68599V4.67899Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  margin-right: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

main.full {
  padding: 7rem 0;
}

main.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 5vh 0;
}
